.specials {
  max-width: 1512px;
  margin: 0 auto;
  background-color: #f3f4f4;
  z-index: 1;
}

.specials .container {
  padding-block: 90px;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.specials__title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 1.08;
  text-align: center;
  color: #101a24;
}

.specials__decsription {
  color: #5c6574;
  max-width: 376px;
  margin-top: 21px;
}

.specials__list {
  display: flex;
  column-gap: 30px;
  width: 100%;
  margin-top: 69px;
}

.specials__item {
  width: calc((100% - 90px) / 4);
  position: relative;
  display: flex;
  flex-direction: column;
}

.specials__item-img {
  position: absolute;
  top: -24px;
  left: 24px;
}

.specials__item-price {
  align-self: flex-end;
  margin-bottom: 3px;
  margin-right: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  font-weight: 700;
  line-height: 1.63;
  color: #fff;
  border-radius: 100%;
  background-color: #101a24;
  border: none;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.specials__card {
  border-radius: 40px 20px;
  border: 2px solid #fff;
  padding: 140px 20px 40px 20px;
  text-align: center;
  transition: background-color 250ms ease;
}

.specials__item:hover .specials__card,
.specials__item:focus .specials__card {
  background-color: #fff;
}

.specials__card-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  color: #101a24;
}

.specials__card-description {
  font-size: 15px;
  line-height: 1.73;
  text-align: center;
  color: #5c6574;
  margin-top: 21px;
}

.specials__decor-leaf {
  position: absolute;
  top: 24px;
  left: 140px;
  z-index: -1;
}

.specials__decor-branch2 {
  position: absolute;
  top: 64px;
  right: 180px;
  z-index: -1;
}

.specials__decor-onion {
  position: absolute;
  bottom: -35px;
  right: -35px;
  z-index: -1;
}

.specials__decor-garlic {
  position: absolute;
  bottom: -35px;
  right: -35px;
  z-index: -1;
}

.specials__decor-garlic2 {
  position: absolute;
  bottom: -45px;
  right: 95px;
  transform: rotate(275deg);
  z-index: -1;
}
